body {
  background-color: #f5fae1;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  color: #896c6c;
}

.container {
  margin: 120px auto;
  max-width: 700px;
  background-color: #eee6ca;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 33px;
  line-height: 1.5;
  color: #896c6c;
}

header {
  margin-bottom: 30px;
}

form {
  padding: 30px;
  background-color: #e5beb5;
  border-radius: 20px;
  max-width: 500px;
  margin: auto;
  display: flex;
  margin-bottom: 30px;
}

.prompt {
  padding: 15px;
  border: 1px solid #896c6c;
  border-radius: 20px;
  width: 80%;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 20px;
  color: #896c6c;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.submit-button {
  margin-left: 10px;
  background-color: #896c6c;
  color: #f5fae1;
  border-radius: 30px;
  padding: 14px 24px;
  border: none;
  font-size: 14px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.poem {
  font-size: 14px;
  background-color: #f5fae1;
  padding: 20px;
  line-height: 24px;
  border-radius: 10px;
  border-left: 3px solid #896c6c;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  max-width: 500px;
  margin: auto;
  display: flex;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
